@model EUREKA_RESTFUL_DOTNET_CLIWEB.Models.MovimientoRequest

@{
    ViewBag.Title = "Crear Movimiento";
}

<h2>Crear Movimiento</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Movimiento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.CodigoCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CodigoCuenta, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CodigoCuenta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Tipo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Tipo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ValorMovimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ValorMovimiento, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ValorMovimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CuentaDest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CuentaDest, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CuentaDest, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}